<%- include ../../fragments/headerSupplier.ejs %>
        <main>
            <h2><%= pageTitle %></h2>
            <form  class="form"  method="post" action="<%= formAction %>" novalidate><!-- onsubmit="return validateForm();" -->
                <input type="hidden" name="id" value="<%= supplier.id %>">
                
                <label for="name">Nazwa Dostawcy: <span class="symbol-required">*</span></label>
                <input type="text" name="name" id="name" placeholder="2-60 znaków" value="<%= supplier.name %>" class="<%= validationErrors.find(e => e.path.includes('name')) ? 'error-input' : '' %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
                <span id="errorname" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('name'))) {%>
                        <%= validationErrors.find(e => e.path.includes('name')).message %>
                    <% } %>
                </span>

                <label for="email">email: <span class="symbol-required">*</span></label>
                <input type="email" name="email" id="email" placeholder="np. nazwa@domena.pl" value="<%= supplier.email %>" class="<%= validationErrors.find(e => e.path.includes('email')) ? 'error-input' : '' %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
                <span id="erroremail" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('email'))) {%>
                        <%= validationErrors.find(e => e.path.includes('email')).message %>
                    <% } %>
                </span>

                <% if (formMode == 'showDetails') { %>
                    <div class ="selection-buttons">
                        <a href = "/suppliers/edit/<%= supplier.id %>" class="list-actions-button-edit">Edytuj</a> 
                    </div>
                    <p><p>
                    <% } %>
            
            <% if (formMode == 'showDetails' || formMode =='edit') { %> 
                <h2>Szczegóły zamówień dostawcy</h2>
                
                <p><p><table class="table-list">
                    <thead>
                        <tr>
                            <th>Imię klienta</th>
                            <th>Nazwisko klienta</th>
                            <th>Nazwa firmy klienta</th>
                            <th>Data zamówienia</th>
                            <th>Data dostawy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let s of supplier.orders) { %>
                            <tr>
                                <td><a href="/clients/details/<%= s.client.id %>"><%= s.client.name %></a></td>
                                <td><%= s.client.congomen %></td>
                                <td><%= s.client.company %></td>
                                <td><%= s.order_date.toISOString().split('T')[0] %></td>
                                <td><%= s.delivery_date ? s.delivery_date.toISOString().split('T')[0] : '' %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                <% } %>

                <div class="form-buttons">
                    <p id="errorSummary" class="errors-text"></p>
                    <% if (formMode != 'showDetails') {%>
                        <input type="submit" class="form-button-submit" value="<%=btnLabel%>">
                        <a href="/suppliers" class="form-button-cancel">Anuluj</a>
                    <% } else { %>
                        <a href="/suppliers" class="form-button-cancel">Powrót</a>
                    <% } %>
                </div>
            </form>
        </main>
<%- include ../../fragments/footer.ejs %>